/*Automatically center embedded youtube videos site-wide.*/
iframe[src*="//youtube.com/"], iframe[src*="//www.youtube.com/"] {
display: block;
margin: 0 auto;
}

/*Youtube CSS for smartphones*/
/* Mobile Youtube */
@media screen and (max-width:767px) {
iframe[src*="youtube"] {
    width: 100% !important;
}
}

/*General Options SFL*/
#eeSFL {
	width: 75%;
	margin: 0 auto;
	font-style: normal;
	--ee-color-action-link-background: var(--main-orange);
	--ee-color-action-link-text: var(--white);
	--ee-color-action-link-background-hover: var(--black);
}

#eeSFLS_SearchFiles {
	padding: 0 0 0 0 !important;
	height: 25px;
	margin: 0 -.5em 0 0 !important;
}
#eeSFL #eeSFLS_SearchFiles input[type="text"], #eeSFL #eeSFLS_SearchFiles input[type="submit"] {
	margin: 0 0.5em 0 0;
	height: inherit;
}

.eeSFL_ListOpsBar form {
	height: 25px !important;
}
#eeSFL_FileOpsAction {
	height: inherit;
}
.eeSFL .eeSFL_ListOpsBar input[type="text"], .eeSFL .eeSFL_BulkDownloadBar input[type="text"], .eeSFL #eeSFL_MoveToFolder
{
	height: inherit;
}
#eeSFL .eeSFL_ListOpsBar input[type="submit"] {
	padding-top: .25em;
}
/*Move Folder Dropdown Menu*/
#eeSFL_MoveToFolder {
	max-width: 75%;
	width: 50%;
}
#eeSFL input[type="submit"]  {
	color: var(--white);
	background: var(--main-orange);
	border: 1px solid var(--ee-color-table-border);
	border-radius: 2px;
	height: inherit;
}
#eeSFL input[type="submit"]:hover {
	background: var(--black);
}
/*Hide Option to delete directories*/
#eeSFL_FileOpsAction .eeWarning {
	display: none;
}

/*Navigation - Current directory*/
.eeSFL_BreadCrumb .eeSFL_Crumb:last-child {
	border-radius: 2px;
	background-color: var(--main-black);
	border-color: var(--main-black);
	color: var(--white);
}
/*Edit Directory Options*/
.eeSFL_Modal .eeSFL_ModalBody {
	top: 10em;
	bottom: 1em;
	border: 1px solid var(--black)
} 

.eeSFL_Modal .eeSFL_ModalBody button, .eeSFL_Modal .eeSFL_ModalBody input[type="submit"] {
	background: var(--main-blue);
	color: var(--white);
	border-radius: 2px;
	border: 1px solid var(--ee-color-table-border);
	padding: .25em .3em .25em .3em;
}
.eeSFL_Modal .eeSFL_ModalBody button:hover {
	background: var(--black);
}
.eeSFL_Modal .eeSFL_ModalBody p, .eeSFL_Modal .eeSFL_ModalBody h4 {
	border-bottom: none;
}
.eeSFL_Modal .eeSFL_ModalBody h1, .eeSFL_Modal .eeSFL_ModalBody small {
	display: none;
}
.eeSFL_Modal .eeSFL_ModalBody input[type="text"], .eeSFL_ModalBody textarea {
	margin-bottom: 1.5em;
}
.eeSFL_Modal .eeSFL_DateNew {
	margin-bottom: 2em;
}

#eeSFLS_paginationControls button, #eeSFL a.eeSFLS_PaginationIcon span.eeSFLS_iconCurrent {
	border-radius: 2px;
	background: var(--main-blue);
	color: var(--white);
	border: none;
	padding: .25em .75em .25em .75em;
}
#eeSFLS_paginationControls button:hover {
	background: var(--black);
}
#eeSFL a.eeSFLS_PaginationIcon:hover {
	background: var(--main-blue);
	color: var(--white);
}

/*Table*/
#eeSFL table.eeFiles {
	border: none;
}
#eeSFL .eeFiles th{
	text-align: center !important;
	background-color: var(--main-blue);
	color: var(--white);
	white-space: nowrap;
} 
#eeSFL .eeFiles td {
	text-overflow: clip;
        vertical-align: middle;
        text-align: center;
}

/*Table Filename*/
#eeSFL .eeFiles th.eeSFL_FileName {
	text-align: left !important;
	padding-left: 2%;
}

/*Table Thumnail Header*/
#eeSFL .eeFiles th.eeSFL_Thumbnail {
	padding-left: 1.55%;
}

/*Bulk Edit Header & Cell*/
#eeSFL .eeFiles .eeSFL_BulkEdit {
	padding-left: 1%;
	overflow: visible;
}

/*File Names Cell*/
#eeSFL .eeFiles td.eeSFL_FileNameCell {
	text-align: left;
	padding-left: 2%;
}

/*Thumbnail Cell*/
#eeSFL .eeFiles td.eeSFL_Thumbnail {
	padding-left: 1.55%;
	overflow: visible;
}

/*Screen Size adjustments*/
@media only screen and (max-width:1080px){
	#eeSFL {
	width: 80%;
	}
	#eeSFL .eeFiles .eeSFL_Thumbnail {
	width: auto;
	}
	#eeSFL .eeFiles .eeSFL_Thumbnail img {
			width: 48px;
	}
	#eeSFL .eeFiles td.eeSFL_FileNameCell {
	text-align: left;
	padding-left: 4%;
	}
	#eeSFL .eeFiles th.eeSFL_FileName {
	text-align: left;
	padding-left: 4%;
	}
}

/*Smartphone Adjustments*/
@media only screen and (max-width:640px){
	#eeSFL {
		width: 98%;
	}
	#eeSFL_UploadForm {
		width: 98% !important;
	}
	#eeSFL .eeFiles td.eeSFL_BulkEdit {
		padding-left: 0em;
	}
	#eeSFL .eeFiles td.eeSFL_Thumbnail {
		padding-left: 0em;
	}
	#eeSFL .eeFiles td.eeSFL_FileNameCell {
		padding-left: 0em;
  }
	#eeSFL .eeSFL_ListOpsBar form {
		flex-wrap: wrap;
	}
	#eeSFL .eeSFL_ListOpsBar {
			margin: 0.5em 0 0.5em 0;
	}
	#eeSFL_FileOpsAction {
		margin-right: unset !important;
		margin-bottom: .5em;
	}
	#eeSFL .eeFiles tr {
		border: 1px solid #999 !important;
	}
	#eeSFL .eeFiles{
		align-items: center !important;
		justify-content: center !important;
		text-align: center !important;
	}
	#eeSFL .eeSFL_ListFileActions {
		margin: 0;
		padding: 0 0 0 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#eeSFL table.eeFiles .eeSFL_ListFileActions > a {
		padding: 0.2em 0.2em 0.2em 0.2em !important;
		
	}
}
/*Action Buttons*/
#eeSFL a {
	font-size: 100%;
	border-radius: 2px;
}

/* Upload Form Style */
#eeSFL_UploadForm {
	width: 75%;
	margin: 0 auto !important;
	border: none !important;
		--ee-color-upload-progress-bar: var(--main-blue) !important;
	--ee-color-upload-progress-bar-background: var(--main-blue) !important;
}
#eeSFL_UploadForm input {
	padding: 0 0 0.5em 0 !important;
	border: unset !important;
}
#eeSFL_UploadProgress {
	background: var(--main-blue) !important;
}
#eeSFL_UploadForm h2 {
	display: none;
}
#eeSFL_UploadForm p.sfl_instuctions {
	width: 50%;
	margin-left: auto;
}
#eeSFL_UploadForm button {
	margin: 0 0 0 0 !important;
	color: var(--white);
	background: var(--main-orange);
	border: 1px solid var(--ee-color-table-border);
	border-radius: 2px;
	padding: .25em .3em .25em .3em;
}
#eeSFL_UploadForm button:hover{
	background: var(--black);
	color: var(--white);
}
@media screen and (max-width:780px) {
	#eeSFL_UploadForm p.sfl_instuctions {
		width: 70%
	}
}
/*Drag n' Drop Style*/
#eeSFL_FileDropZone {
	border: none !important;
	padding-bottom: 0em !important;
	margin-top: 1em !important;
}

.part_img_staff {
	flex-shrink: 0;
}

/*Fix business card formatting on smartphones*/
@media only screen and (max-width:625px){
	.staffBox_inner {
		padding: 30px 0 0 0;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.part_img_staff{
		margin-right: 0;
	}
	.part_text_staff{
		margin-right: 15px;
		margin-left: 15px;
		width: auto;
	}
	.page-id-94 .btnBox, .page-id-806 .btnBox, .page-id-5933 .btnBox, .page-id-645 .btnBox {
		align-items: center;
		justify-content: center;
		padding-bottom: 30px;
	}
}

/*News banner adjustments*/
.news_banner_span {
	color: var(--white);
}
.content-row-news_banner {
	height: 45px;
}
.news_disp_arr {
	top: 12.5px;
}

/*News Sidebar Adjustments*/
.sidebar_excerpt {
	font-size: 15px;
}
.sidebar_heading {
	color: var(--main-blue)
}
/*Banner Logo overflow bugfix*/
@media only screen and (max-width: 640px) {
	.banner_logo {
		display: none;
	}
}
/*Projects CSS*/
.contentPart_inner.contentPart_inner_projects_display{
	width: auto;
}
@media only screen and (min-width: 991px) {
	.projects_datafield_row .datafield_title, .datafield_title {
		max-width: 25%;
	}
}
/*Header offset for HTML Anchors*/
.content-row-single_heading {
	scroll-margin-top: 120px;
}

/*Header*/
.languagebox{
    margin-right: 22.5px;
}
.loginbutton{
	margin-right: 22.5px;
}
.loginbutton_mobile a,
.loginbutton a{
    font-size: 17px;
    line-height: 20px;
}
@media only screen and (min-width: 1470px){
	.site_searchform{
		right: 18px
	}
}
@media only screen and (max-width: 1470px){
	.loginbutton {
		order: 2;
		margin-bottom: 10px;
	}
	.site_searchform {
		top: unset;
	}
}
