/*Automatically center embedded youtube videos site-wide.*/
iframe[src*="//youtube.com/"], iframe[src*="//www.youtube.com/"], iframe[src*="//player.vimeo.com/"], iframe[src*="//vimeo.com/"] {
	display: block;
	margin: 0 auto;
	aspect-ratio: 16 / 9 !important;
	height: auto !important;
}
/*Youtube CSS for smartphones*/
@media screen and (max-width:767px) {
	iframe[src*="youtube"],
	iframe[src*="//player.vimeo.com/"], 
	iframe[src*="//vimeo.com/"]  {
		aspect-ratio: 16 / 9 !important;
    height: auto !important;
    width: 100% !important;
}

/*Picture Gallery*/
.pic-gallery-inner {
	position: relative;
	width: 100%;
	margin: 0 auto;
	overflow-x: auto;
	overflow-y: visible;
	white-space: nowrap;
	scroll-snap-type: x proximity;
	scroll-behavior: smooth;
	text-align: center;
}
.pic-gallery-thumb {
	display: inline-block;
	text-align: center;
}
.pic-gallery-thumb img {
	scroll-snap-align: center;
	max-width: 100%;
	max-height: 1024px;
}
.pic-gallery-thumb img:hover {
  transform: scale(1.05);
	transition: .4s;
	overflow: visible;
}
.gallery-modal-title, .gallery-modal-caption, .gallery-modal-alt, .gallery-modal-descr {
	line-height: 1;
	display: flex;
	justify-content: center;
}
.gallery-modal-title p, .gallery-modal-caption p, .gallery-modal-alt p, .gallery-modal-descr p, .gallery-modal-num{
	font-size: 16px;
	color: var(--white);
	max-width: 65vw;
	word-wrap: break-word;
}
.gallery-modal-title p {
	padding-top: 5px;
}
.pic-gallery-modal {
	display: none;
	position: fixed;
	z-index: 151;
	left: 0;
	top: 0px;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}
@media screen and (max-width: 782px) {
	.admin-bar .pic-gallery-modal-inner {
		top: 66px;
	}
}
@media screen and (min-width: 782px) {
	.admin-bar .pic-gallery-modal-inner {
		top: 52px;
	}
}
.pic-gallery-modal-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	position:relative;
	margin: auto;
	padding: 0;
	width: fit-content;
	height: fit-content;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
	top: 45px;
}
.pic-gallery-modal-inner img{
	max-width: 65vw;
	max-height: 65vh;
	object-fit: contain;
	margin: auto;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.25);
}
.gallery-modal-header {
	display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
	max-width: 65vw;
  padding: 0 2px 5px 2px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
}
.gallery-modal-header button.close.cursor {
	background: none;
	border: none;
	color: var(--white);
}
.gallery-modal-header button.close.cursor:hover, .galleryModalPrev:hover, .galleryModalNext:hover {
	transition: .4s !important;
	color: var(--main-orange) !important;
}
.gallery-modal-header button span {
	font-size: 26px;
	margin-bottom: 5px;
	cursor: pointer;
}
/*Attempted to align button midpoint to image midpoint. Ended up using Javascript in custom blocks code.*/
.galleryModalPrev, .galleryModalNext {
  position: absolute;
  top: 50%;
  /*transform: translateY(-50%);*/
	background: rgba(0, 0, 0, 0.8);
  color: var(--white);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 152;
	font-size: 20px;
}
.galleryModalPrev {
  left: -1px;
}
/*I don't know why. I don't want to know why. But unless I purposefully misalign it exactly by 1px, it will be wrong on a certain number of images.*/
.galleryModalNext {
  right: -1px;
}
/*Lists*/
#container ul li {
	list-style: outside;
	margin-left: 22px;
}

/*General Options SFL*/
#eeSFL {
	width: 75%;
	margin: 0 auto;
	font-style: normal;
	font-family: var(--main-font);
	--ee-color-action-link-background: var(--main-orange);
	--ee-color-action-link-text: var(--white);
	--ee-color-action-link-background-hover: var(--main-blue);
}

/*Input styles*/
#eeSFL input[type="text"], .eeSFL_ModalBody input[type="text"], .eeSFL_ModalBody textarea, .eeSFL_DateNew input[type="number"] {
	border-radius: 5px;
	border: 1px solid var(--table-gray);
	box-shadow: 0 0 2px 2px var(--table-gray);
}
#eeSFL input[type="text"]:hover, .eeSFL_ModalBody input[type="text"]:hover, .eeSFL_ModalBody textarea:hover, .eeSFL_DateNew input[type="number"]:hover {
	border: 2px solid var(--main-orange);
	box-shadow: 0 0 1px 1px var(--table-gray);
	transition: .1s;
}
#eeSFL input[type="text"]:focus, .eeSFL_ModalBody input[type="text"]:focus, .eeSFL_ModalBody textarea:focus, .eeSFL_DateNew input[type="number"]:focus {
	border: 2px solid var(--main-orange);
	box-shadow: 0 0 2px 2px var(--main-orange);
	transition: .2s;
	outline: none;
}

#eeSFLS_SearchFiles {
	padding: 0 0 0 0 !important;
	height: 25px;
	margin: 1em -.5em 1em 0 !important;
}
#eeSFL #eeSFLS_SearchFiles input[type="text"], #eeSFL #eeSFLS_SearchFiles input[type="submit"] {
	margin: 0 0.5em 0 0;
	height: inherit;
}
.eeSFL_ListOpsBar form {
	height: 25px !important;
}
#eeSFL_FileOpsAction {
	height: inherit;
}
.eeSFL .eeSFL_ListOpsBar input[type="text"], .eeSFL .eeSFL_BulkDownloadBar input[type="text"], .eeSFL #eeSFL_MoveToFolder
{
	height: inherit;
}
#eeSFL .eeSFL_ListOpsBar input[type="submit"] {
	padding-top: .25em;
	transition: .4s;
}
#eeSFLS_SearchFiles input[type="submit"] {
	transition: .4s;
}
/*Calendar UI*/
.ui-widget {
	font-family: inherit;
	outline: none;
	border: none !important;
	box-shadow: 0 0 2px 2px var(--table-gray);
} 
.ui-widget-header {
	border: none;
	background: none;
}
.ui-widget-content .ui-state-default {
	background: var(--white);
}
.ui-state-active {
	background: var(--main-orange) !important;
	border: 1px solid var(--main-orange) !important;
}
.ui-state-highlight {
	background: var(--main-blue) !important;
	color: var(--white) !important;
	border: 1px solid var(--main-blue) !important;
}
.ui-datepicker td span, .ui-datepicker td a{
	text-align: center;
}
.ui-widget-content .ui-state-hover {
	border: none;
	color: var(--white);
	background: var(--main-orange);
	transition: .4s;
}

/*Move Folder Dropdown Menu*/
#eeSFL_MoveToFolder {
	max-width: 75%;
	width: 50%;
}
#eeSFL input[type="submit"]  {
	color: var(--white);
	background: var(--main-orange);
	border: 1px solid var(--ee-color-table-border);
	border-radius: 5px;
	height: inherit;
}
#eeSFL input[type="submit"]:hover {
	background: var(--main-blue);
	transition: .4s;
}
/*Hide Option to delete directories*/
#eeSFL_FileOpsAction .eeWarning, table.eeFiles p.eeSFL_FileDesc {
	display: none;
}
#eeSFL_FileOpsAction > option:nth-child(3) {
	display: none !important;
}
td:nth-child(3) > small:nth-child(5) > a:nth-child(3), td:nth-child(3) > small:nth-child(6) > a:nth-child(3) {
	display: none;
}

/*Navigation - Current directory*/
.eeSFL_BreadCrumb .eeSFL_Crumb a {
	border-radius: 5px !important;
}
.eeSFL_BreadCrumb .eeSFL_Crumb:last-child {
	border-radius: 5px;
	background-color: var(--black);
	border-color: var(--black);
	color: var(--white);
	transition: .4s;
}

/*Edit Menu/Page Style*/
.eeSFL_Modal .eeSFL_ModalBody {
	top: 10em;
	bottom: 1em;
	border: none;
	box-shadow: 0 0 1px 1px var(--table-gray);
	border-radius: 4px;
} 

.eeSFL_Modal .eeSFL_ModalBody button, .eeSFL_Modal .eeSFL_ModalBody input[type="submit"] {
	background: var(--main-blue);
	color: var(--white);
	border-radius: 5px;
	border: 1px solid var(--ee-color-table-border);
	padding: .25em .3em .25em .3em;
	transition: .4s;
}
.eeSFL_Modal .eeSFL_ModalBody button:hover {
	background: var(--main-orange);
	transition: .4s;
}
.eeSFL_Modal .eeSFL_ModalBody p, .eeSFL_Modal .eeSFL_ModalBody h4 {
	border-bottom: none;
	margin-bottom: 1em;
}
.eeSFL_Modal .eeSFL_ModalBody h4 {
	font-size: 120%;
}
.eeSFL_Modal .eeSFL_ModalBody h1, .eeSFL_Modal .eeSFL_ModalBody small {
	display: none;
}
.eeSFL_ModalBody label {
	margin-bottom: .5em;
}
.eeSFL_Modal .eeSFL_ModalBody input[type="text"], .eeSFL_ModalBody textarea {
	margin-bottom: 1.5em;
}
.eeSFL_Modal .eeSFL_DateNew {
	margin-bottom: 2em;
}

/*Page Navigation*/
#eeSFLS_paginationControls button, #eeSFL a.eeSFLS_PaginationIcon span.eeSFLS_iconCurrent {
	border-radius: 3px;
	background: var(--main-blue);
	color: var(--white);
	border: none;
	padding: .25em .75em .25em .75em;
	transition: .4s;
}
#eeSFLS_paginationControls button:hover {
	background: var(--main-orange);
	transition: .4s;
}
#eeSFL a.eeSFLS_PaginationIcon:hover,
#eeSFL a.eeSFLS_PaginationIcon span.eeSFLS_iconCurrent:hover {
	background: var(--main-orange);
	color: var(--white);
	transition: .4s;
}

/*Table*/
#eeSFL table.eeFiles {
	border: none;
}
#eeSFL .eeFiles th{
	text-align: center !important;
	background-color: var(--main-blue);
	color: var(--white);
	white-space: nowrap;
} 
#eeSFL .eeFiles td {
	text-overflow: clip;
        vertical-align: middle;
        text-align: center;
}

/*Table Filename*/
#eeSFL .eeFiles th.eeSFL_FileName {
	text-align: left !important;
	padding-left: 2%;
}

/*Table Thumnail Header*/
#eeSFL .eeFiles th.eeSFL_Thumbnail {
	padding-left: 1.55%;
}

/*Bulk Edit Header & Cell*/
#eeSFL .eeFiles .eeSFL_BulkEdit {
	padding-left: 1%;
	overflow: visible;
}

/*File Names Cell*/
#eeSFL .eeFiles td.eeSFL_FileNameCell {
	text-align: left;
	padding-left: 2%;
}

/*Thumbnail Cell*/
#eeSFL .eeFiles td.eeSFL_Thumbnail {
	padding-left: 1.55%;
	overflow: visible;
}

/*Screen Size adjustments*/
@media only screen and (max-width:1080px){
	#eeSFL {
	width: 80%;
	}
	#eeSFL .eeFiles .eeSFL_Thumbnail {
	width: auto;
	}
	#eeSFL .eeFiles .eeSFL_Thumbnail img {
			width: 48px;
	}
	#eeSFL .eeFiles td.eeSFL_FileNameCell, 	#eeSFL .eeFiles th.eeSFL_FileName {
	text-align: left;
	padding-left: 4%;
	}
}

/*Smartphone Adjustments*/
@media only screen and (max-width:640px){
	
	/*Temporarily remove Edit Button until Modal Page is fixed*/
	td:nth-child(3) > small:nth-child(6) > a:nth-child(2), td:nth-child(3) > small:nth-child(6) > a:nth-child(2) {
		display: none;
	}
	#eeSFL {
		width: 98%;
	}
	#eeSFL table {
		margin-top: 2em;
	}
	.eeSFL table.eeFiles tbody {
		padding: 0 0 0 0;
	}
	.eeSFL table.eeFiles tr {
		margin-bottom: 1em !important;
	}
	#eeSFL_UploadForm {
		width: 98% !important;
	}
	#eeSFL .eeFiles td.eeSFL_BulkEdit {
		padding-left: 0em;
	}
	#eeSFL .eeFiles td.eeSFL_Thumbnail {
		padding-left: 0em;
	}
	#eeSFL .eeFiles td.eeSFL_FileNameCell {
		padding-left: 0em;
  }
	#eeSFL #eeSFLS_SearchFiles{
		max-width: 98%;
		margin: 0 .5em .5em .5em;
	}
	#eeSFL #eeSFLS_SearchFiles input.eeSFLS_Datepicker {
		max-width: 45%;
		margin: .5em 0 .5em .5em;
	}
	#eeSFL #eeSFLS_SearchFiles input[type="text"] {
		margin: 0 .5em .5em .5em;
		max-width: 45%;
	}
	#eeSFL #eeSFLS_SearchFiles input[type="submit"] {
		flex: 2;
		max-width: 45%;
		margin: 0 .5em .5em .5em;
	}
	#eeSFL .eeSFL_ListOpsBar form {
		flex-wrap: wrap;
		margin-top: 1em;
	}
	.eeSFL #eeSFL_FileOpsAction, .eeSFL #eeSFL_FileOpsActionInput, .eeSFL #eeSFL_MoveToFolder {
		max-width: 45% !important;
		min-width: 44% !important;
		margin: 1.5em .9em .5em .5em;
	}
	.eeSFL #eeSFL_ListOpsBarGo {
		flex: 3;
		margin: 0 1em .75em .5em;
	}
	.eeSFL_BreadCrumb {
		margin-top: 5em;
	}
	#eeSFL .eeFiles tr {
		border: 1px solid #999 !important;
	}
	#eeSFL .eeFiles{
		align-items: center !important;
		justify-content: center !important;
		text-align: center !important;
	}
	#eeSFL .eeSFL_ListFileActions {
		margin: 0;
		padding: 0 0 0 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
	#eeSFL table.eeFiles .eeSFL_ListFileActions > a {
		padding: 0.2em 0.2em 0.2em 0.2em !important;
	}
}

/*Action Buttons*/
#eeSFL a {
	font-size: 100%;
	border-radius: 3px;
	transition: .4s;
}
#eeSFL a:hover {
	transition: .4s;
}
/* Upload Form Style */
#eeSFL_UploadForm {
	width: 75%;
	margin: 0 auto !important;
	border: none !important;
		--ee-color-upload-progress-bar: var(--main-blue) !important;
	--ee-color-upload-progress-bar-background: var(--main-blue) !important;
}
#eeSFL_UploadForm input {
	padding: 0 0 0.5em 0 !important;
	border: unset !important;
}
#eeSFL_UploadProgress {
	background: var(--main-blue) !important;
}
#eeSFL_UploadForm h2 {
	display: none;
}
#eeSFL_UploadForm p.sfl_instuctions {
	width: 50%;
	margin-left: auto;
}
#eeSFL_UploadForm button {
	margin: 0 0 0 0 !important;
	color: var(--white);
	background: var(--main-orange);
	border: 1px solid var(--ee-color-table-border);
	border-radius: 5px;
	padding: .25em .3em .25em .3em;
	transition: .4s;
}
#eeSFL_UploadForm button:hover{
	background: var(--main-blue);
	color: var(--white);
	transition: .4s;
}
@media screen and (max-width:780px) {
	#eeSFL_UploadForm p.sfl_instuctions {
		width: 70%
	}
}
/*Drag n' Drop Style*/
#eeSFL_FileDropZone {
	border: none !important;
	padding-bottom: 0em !important;
	margin-top: 1em !important;
}

.part_img_staff {
	flex-shrink: 0;
}

/*Fix business card formatting on smartphones*/
@media only screen and (max-width:625px){
	.staffBox_inner {
		padding: 30px 0 0 0;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.part_img_staff{
		margin-right: 0;
	}
	.part_text_staff{
		margin-right: 15px;
		margin-left: 15px;
		width: auto;
	}
	.page-id-94 .btnBox, .page-id-806 .btnBox, .page-id-5933 .btnBox, .page-id-645 .btnBox {
		align-items: center;
		justify-content: center;
		padding-bottom: 30px;
	}
}

/*News banner adjustments*/
.news_banner_span {
	color: var(--white);
}
.content-row-news_banner {
	height: 45px;
}
.news_disp_arr {
	top: 12.5px;
}

/*News Sidebar Adjustments*/
.sidebar_excerpt {
	font-size: 15px;
}
.sidebar_heading {
	color: var(--main-blue)
}
.sidebar_outputBox {
	max-height: 1500px;
	overflow-y: scroll;
}
/*Banner Logo overflow bugfix*/
@media only screen and (max-width: 640px) {
	.banner_logo {
		display: none;
	}
}
/*Projects CSS*/
.contentPart_inner.contentPart_inner_projects_display{
	width: auto;
}
@media only screen and (min-width: 991px) {
	.projects_datafield_row .datafield_title, .datafield_title {
		max-width: 25%;
	}
}
/*Header offset for HTML Anchors*/
.content-row-single_heading {
	scroll-margin-top: 120px;
}

/*Header*/
.languagebox, .loginbutton{
    margin-right: 22.5px;
}
.loginbutton a:hover {
	color: var(--main-orange);
}
.loginbutton_mobile a,
.loginbutton a{
    font-size: 17px;
    line-height: 20px;
}
.loginbutton a, .icon_search {
	position: relative;
	top: 3px;
}
.wpml-ls-legacy-list-horizontal {
	border: none !important;
}
@media only screen and (min-width: 1470px){
	.site_searchform{
		right: 18px;
	}
	.admin-bar .content-row-news_banner {
	top: 127px !important;
	}
}

@media only screen and (max-width: 1470px){
	.loginbutton {
		order: 2;
		margin-bottom: 10px;
	}
	.site_searchform {
		top: unset;
	}
	.admin-bar .content-row-news_banner {
	top: 105px !important;
	}
}

@media only screen and (max-width: 1175px) {
	.loginbutton a. logingbutton_mobile a {
		top: 0px; 
	} .languagebox_mobile {
		margin-bottom: 15px !important;
	}
	.admin-bar .content-row-news_banner {
	top: 80px !important;
	}
}
/*Additional UI elements*/
.eeSFL_Move_UI_Class,
.eeSFL_Move_UI_Msgs,
.eeSFL_Move_UI_Nav,
.eeSFL_Move_UI_Msgs_warn {
	width: 100% !important;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding-top: 1em;
}
.eeSFL_Move_UI_Msgs,
.eeSFL_Move_UI_Msgs_warn {
	font-size: 14px;
}
.eeSFL_Move_UI_Nav button {
	font-size: 16px !important;
	background: var(--main-orange) !important;
}
.eeSFL_Move_UI_Nav button:hover {
	background: var(--main-blue) !important;
}
.eeSFL_Move_UI_Class .Modal_Dir {
	background: var(--white) !important;
	color: var(--black) !important;
	font-size: 13px !important;
	border: 1px solid var(--border-gray) !important;
	border-radius: 2px !important;
	margin: .5em auto .5em auto;
	width: 150px;
	height: 100px;
  overflow: hidden;
  display: block;
	line-height: 1.2em;
}
.eeSFL_Move_UI_Class .Modal_Dir:hover,
.eeSFL_Move_UI_Class .Modal_Dir:focus {
	border: 2px solid var(--main-orange) !important;
	box-shadow: 0 0 2px 2px var(--main-orange);
	transition: .2s !important;
}
